In [4]:
import pandas as pd

In [2]:
print(pd.__version__)

2.3.1

In [3]:
arr=[1,2,3]
series=pd.Series(arr)
series

0    1
1    2
2    3
dtype: int64

In [7]:
order=[1,2,3]
series2=pd.Series(order,index=order)
series2

1    1
2    2
3    3
dtype: int64

In [13]:
import numpy as np
n=np.random.randn(5)
index=['a','b','c','d','e']
s3=pd.Series(n,index=index)
s3

a   -0.691364
b    0.025155
c   -0.744982
d    1.142219
e    0.114930
dtype: float64

In [11]:
s4={'a':1,'b':2,'c':3}

s5=pd.Series(s4)
s5

a    1
b    2
c    3
dtype: int64

In [13]:
series
series.index=['a','b','c']
series

a    1
b    2
c    3
dtype: int64

In [16]:
series[0:2]

a    1
b    2
dtype: int64

In [19]:
series5=s3.append(s4)
series5

AttributeError: 'Series' object has no attribute 'append'

In [20]:
s3

a    0.206379
b    1.237991
c    0.529187
d   -0.237735
e    0.483012
dtype: float64

In [24]:
s3.drop('a')

b    1.237991
c    0.529187
d   -0.237735
e    0.483012
dtype: float64

In [26]:







arr1=[1,3,5,6,7]
arr2=[2,4,6,8]
s5=pd.Series(arr2)
s5

0    2
1    4
2    6
3    8
dtype: int64

In [27]:
arr3=[1,2,2,2,2,2]
s6=pd.Series(arr3)
s6

0    1
1    2
2    2
3    2
4    2
5    2
dtype: int64

In [28]:
s5.add(s6)

0     3.0
1     6.0
2     8.0
3    10.0
4     NaN
5     NaN
dtype: float64

In [29]:
s5.subtract(s6)

0    1.0
1    2.0
2    4.0
3    6.0
4    NaN
5    NaN
dtype: float64

In [30]:
s6

0    1
1    2
2    2
3    2
4    2
5    2
dtype: int64

In [31]:
s6.median()

np.float64(2.0)

In [1]:
s6

NameError: name 's6' is not defined

In [2]:
s6=[1,2,3,4,5]
s6

[1, 2, 3, 4, 5]

In [5]:
s5=pd.Series(s6)

In [6]:
s5

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [9]:

s5.index=['a','b','c','d','e']
s5

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [10]:
s5.max()

np.int64(5)

In [11]:
s5.min()

np.int64(1)

In [17]:



dates=pd.date_range('today', periods=6)
num_arr=np.random.randn(6,5)
columns=['a','b','c','d','e']
df = pd.DataFrame(num_arr, index=dates,columns=columns)
df

                                   a         b         c         d         e
2025-07-20 15:28:58.120043  0.177443 -0.428563  0.159023  2.130104  0.368361
2025-07-21 15:28:58.120043  1.560017  0.411652 -0.261440  3.658444  0.668624
2025-07-22 15:28:58.120043 -0.170066  0.317345  0.515168 -1.647891  0.697849
2025-07-23 15:28:58.120043  0.797880  1.073272 -0.248743  0.714516 -0.095992
2025-07-24 15:28:58.120043 -0.452076  0.088294 -0.309937 -0.538812  0.301248
2025-07-25 15:28:58.120043  1.189005  1.645621 -0.652838 -0.622280  0.598517

In [23]:
data={'animal':['cat','dog','cat','dog'],'age':[1,2,3,4],'visits':['2','3','4','5']}
columns=['a','b','c','d']
df2=pd.DataFrame(data,index=columns)
df2.dtypes

animal    object
age        int64
visits    object
dtype: object

In [30]:
df2.head(3)
df2.tail(2)
df2.index
df2.columns

Index(['animal', 'age', 'visits'], dtype='object')

In [31]:
df2

  animal  age visits
a    cat    1      2
b    dog    2      3
c    cat    3      4
d    dog    4      5

In [32]:
df2.values

array([['cat', 1, '2'],
       ['dog', 2, '3'],
       ['cat', 3, '4'],
       ['dog', 4, '5']], dtype=object)

In [33]:
 df2.describe()

            age
count  4.000000
mean   2.500000
std    1.290994
min    1.000000
25%    1.750000
50%    2.500000
75%    3.250000
max    4.000000

In [34]:
df2.T

          a    b    c    d
animal  cat  dog  cat  dog
age       1    2    3    4
visits    2    3    4    5

In [35]:
df2.sort_values(by='')

  animal  age visits
a    cat    1      2
b    dog    2      3
c    cat    3      4
d    dog    4      5

In [38]:
df2.sum()

animal    catdogcatdog
age                 10
visits            2345
dtype: object

In [40]:
df3=df2.copy()
df3

  animal  age visits
a    cat    1      2
b    dog    2      3
c    cat    3      4
d    dog    4      5

In [42]:
df3.to_csv('data.csv')
df_data=pd.read_csv('data.csv')
df_data

  Unnamed: 0 animal  age  visits
0          a    cat    1       2
1          b    dog    2       3
2          c    cat    3       4
3          d    dog    4       5